<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <h3 class="card-header">Login</h3>
            <div class="card-block">
                <form name="loginForm" ng-submit="submitLogin()">
                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" name="username" id="username"
                               placeholder="Entre com seu usuário" ng-model="entry.username" required>
                        <div ng-show="loginForm.username.$invalid && loginForm.$submitted">
                            <small ng-show="loginForm.username.$error.required">obrigatório*</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            ng-model="entry.password" ng-minlength="8" required>
                        <div ng-show="loginForm.password.$invalid && loginForm.$submitted">
                            <small ng-show="loginForm.password.$error.required">obrigatório*</small>
                            <small ng-show="loginForm.password.$error.minlength">8 caracteres no mínimo*</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-success" ui-sref="signin">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
